# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# environment
.env
.env.*
!.env.example

# Amplify-generated
amplify_outputs.json
.amplify
amplifyconfiguration.json
.amplify-config

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
